@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,400&display=swap');

:root {
    --c--brand:#1cfeba;
    --c--dark: #333;
    --c--body:#666;
    --c--light: #f8f8f8;
    --c--blue: #09ace1;
    --f--base:"Plus Jakarta Sans", sans-serif;
    --n--height: 100px;
}

*,*::after, *,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--c--body);
    font-family: var(--f--base);
    line-height: 1.8;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--c--dark);
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 400;
}

.heading-xl {
    font-size: clamp(44px, 10vw, 100px);
    text-transform: uppercase;
}

.heading-2 {
    font-size: clamp(28px, 4vw, 36px);
}

.heading-3 {
    font-size: 20px;
}

a {
    color: var(--c--dark);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: var(--c--brand);
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

section {
    padding: 140px 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c--brand);
    font-family: var(--f--base);
    padding: 16px 34px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
}

.btn:hover {
    background-color: var(--c--brand);
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--n--height);
    display: flex;
    z-index: 999;
}


.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    color: var(--c--brand);
    font-size: 28px;
    align-items: center;
}

.brand img{
    width: 30px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
}

.nav-links li:not(:last-child) {
    margin-right: 44px;
}

.nav-links li.active a {
    box-shadow: 0 2px var(--c--brand);

}

.nav-links li a {
    color:white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links li a:hover {
    color: var(--c--brand)
}

.hamburger {
    display: block;
    cursor: pointer;
    display: none;
    padding: 35px;
}

.hamburger i {
    display: block;
    width: 34px;
    height: 2px;
    background-color: white;
    margin: 8px auto;
}

.hamburger.active i:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger.active i:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

.scrolled{
    background-color: white;
}

.scrolled .brand{
    color: var(--c--blue);
}

.scrolled .nav-links li a{
    color: var(--c--dark);
}

.scrolled .hamburger i{
    background-color: var(--c--dark);
}

@media (max-width: 768px) {
    .nav-links{
        display: block;
        position: fixed;
        top: var(--n--height);
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0 24px;
        transition: all 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
        justify-content: center;
        background-color: white;
    }

    .nav-links li a{
        color: var(--c--dark);
    } 

    .nav-links.active{
        height: 220px;
    }

    .nav-links li{
        padding: 6px 0;
    }

    .hamburger{
        display: block;
    }
}

#home{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/assets/images/landing/background.jpg");   
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
}

#home h1{
    color: white;
}

.section-intro {
    margin-bottom: 44px;
}

.grid {
    display: grid;
    gap: 44px;
}

.two-col-grid {
    grid-template-columns: repeat(2, 1fr);
}


.three-col-grid {
    grid-template-columns: repeat(3, 1fr);
}

#services .grid{
    gap: 0;
} 

.service:nth-child(odd) {
    background-color: var(--c--light);
}

.service {
    padding-inline-start: 44px;
}

.service p {
    font-size: 14px;
}

.service .icon{
    font-size: 38px;
    color: var(--c--brand);
}

.project{
    position: relative;
    overflow: hidden;
}

.project img {
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 44px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.project .overlay h2{
    color: white;
}

.project .overlay p{
    color: rgba(255, 255, 255, 0.6);
}

.project:hover .overlay{
    opacity: 1;
    display: flex;
}

.project:hover img{
    transform: rotate(15deg) scale(1.5);
}

#contact-us .grid {
    grid-template-columns: 1fr 2.5fr;
}

form {
    width: 100%;
}

.contact-widget{
    margin-bottom: 44px;
}

.form-group {
    margin-bottom: 44px;
}

.form-group .form-input {
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 0;
    border: none;
    font-family: var(--f--base);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.form-group .form-input:focus{
    outline: none;
}

footer {
    padding: 60px 0;
    background-color: var(--c--dark);
    margin-bottom: -100%;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer p,footer a{
    color: white;
}

footer .social-icons a{
    font-size: 24px;
}

footer .social-icons a:not(:last-child){
    margin-right: 24px;
}

@media (max-width: 768px) {

    .grid {
        gap: 24px;
    }

    .two-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .three-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #contact-us .grid {
        grid-template-columns: 1fr;
    }     
}
